html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* Navbar style */
#root #navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 100px;
    background-color: #1d191459;
    height: 70px;
    width: 100%;
}

#root #navbar ol {
    display: flex;
    gap: 50px;
}

#root #navbar li {
    font-size: 18px;
    color: #fff;
}

/* Section 1 - Slider style */
#root #slider {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url('images/slider_pic_3.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Slider background image changes */
#root #slider.jegiskolankBackground{
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url('images/jegiskolank.jpg');
    animation: backgroundAppear 1s running;
}

#root #slider.hokisuliBackground{
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url('images/slider_pic_2.jpg');
    animation: backgroundAppear 1s running;
}

@keyframes backgroundAppear {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

#root #slider .welcomeTxt {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #1d1914;
    opacity: 0.8;
    top: 40%;
    left: 30%;
    padding-left: 20px;
    border-radius: 40px;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 550px;
    color: #fff;
}

#root #slider .welcomeTxt h1 {
    font-size: 45px;
    text-transform: uppercase;
}

#root #slider .welcomeTxt button {
    height: 40px;
    width: 100px;
    border: 2px solid #fff;
    font-size: 18px;
}

#root #slider svg {
    position: absolute;
    bottom: 20px;
    left: 50%;
    height: 50px;
    width: 60px;
    transform: translateX(-50%);
    z-index: 99;
    fill: none;
    stroke: #1d1914;
    stroke-width: 3;
    
}

#root #slider svg polyline:nth-child(1) {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#root #slider svg polyline:nth-child(2) {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;
}

#root #slider svg polyline:nth-child(3) {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes colorChange {
    0% {
        stroke: #1d1914;
    }
    10% {
        stroke: #fff;
    }
    100% {
        stroke: #1d1914;
    }
}

#root #slider .options {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 50px;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 750px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
    overflow: hidden;
}

#root #slider .options h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    text-decoration: underline;
    text-align: center;
    color: #fff;
}

#root #slider .options .option {
    position: relative;
    height: 200px;
    width: 200px;
    transition: 1s;
}

#root #slider .options .option.scroll1 {
    transform: translateX(-250px);
}

#root #slider .options .option.scroll2 {
    transform: translateX(-500px);
}

#root #slider .options .option.scroll3 {
    transform: translateX(-750px);
}

#root #slider .options .option.scroll4 {
    transform: translateX(-1000px);
}

#root #slider .options .option.scroll5 {
    transform: translateX(-1250px);
}

#root #slider .options .option img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}

#root #slider .options .option:hover {
    transform: scale(1.2);
}

#root #slider .options .option p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 40px;
    background-color: #1d19149d;
    border-radius: 30px 30px 0 0;
    transform: translateX(-50%);
    color: #fff;
    pointer-events: none;
}

#root #slider .options button {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
}

#root #slider .options #leftBtn {
    left: 50%;
    transform: translateX(calc(-100% - 10px));
}

#root #slider .options #rightBtn {
    right: 50%;
    transform: translateX(calc(100% + 10px));
}

/* Section 2 - Options style */
#root #options {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#root #options .aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root #options .aboutUs .anchors{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

#root #options .aboutUs .anchor {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#root #options .aboutUs .anchor img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}